@model SearchResultVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<section class="data-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="border p-3 mt-4 row">
                    <div class="col-6 text-center">
                        <h2 class="text-primary">@Model.RouteSearchVM.OutgoingStation.Name <i class="bi bi-arrow-right"></i> @Model.RouteSearchVM.DestinationStation.Name</h2>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
*@
<section class="mt-5">
    <form method="post">
        <div class="container">
            <div class="border rounded-5 p-3 mt-4 row">
                <div class="text-center">
                    <h2 class="text-primary">
                        <a style="text-decoration:none" data-bs-toggle="collapse" href="#collapseWay" aria-expanded="false" aria-controls="collapseWay">
                            @Model.RouteSearchVM.OutgoingStation.Name <i class="bi bi-arrow-right"></i> @Model.RouteSearchVM.DestinationStation.Name
                        </a>
                    </h2>
                </div>
                @*@if (Model.IsRouteFound)
                {
                        <a style="text-decoration:none" data-bs-toggle="collapse" href="#collapseWay" aria-expanded="false" aria-controls="collapseWay">
                            @for (int i = 0; i < @Model.Stations.Count; ++i)
                            {
                                @Model.Stations[i].Name
                                if (i != @Model.Stations.Count - 1)
                                {
                                    <i class="bi bi-arrow-right-short"></i>
                                }
                            }
                        </a>
                }*@
               <div class="collapse" id="collapseWay">
                @for (int i = 0; i < @Model.Routes.Count; ++i)
                {
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="wayline col-5">
                                <div class="circle">
                                    <span class="title">@Model.Routes[i].OutgoingStation.Name</span>
                                </div>     
                                <div class="bar">
                                    <span class="title">@Model.Routes[i].Duration.ToString(@"hh\:mm")</span>
                                </div>
                                <div class="circle">
                                    <span class="title text-secondary">@Model.Routes[i].DestinationStation.Name</span>
                                </div>
                            </div>
                            <div class="col-3 text-end">
                                <button type="submit" class="btn btn-outline-primary" style="border-radius:5px">Book flight</button>
                                <p class="text-secondary">@Model.Routes[i].Name</p>
                            </div>
                            <div class="col-3 text-end">
                                <h5>@Model.Routes[i].Price</h5>
                            </div>
                        </div>
                    </div>
                    
                }
                </div>
            </div>
@*            <div class="border rounded-5 p-3 mt-4 row">
            @if (Model.IsRouteFound)
            {
                <h3 class="text-primary">
                    @for (int i = 0; i < @Model.Stations.Count; ++i)
                    {
                        @Model.Stations[i].Name
                        if (i != @Model.Stations.Count - 1)
                        {
                            <i class="bi bi-arrow-right-short"></i>
                        }
                    }
                </h3>
                <hr />
                <p class="text-secondary">
                    <i class="bi bi-airplane"></i>&nbsp;
                    @for (int i = 0; i < @Model.Routes.Count; ++i)
                    {
                        string coma = ", ";
                        @Model.Routes[i].Name
                        ;
                        if (i != @Model.Routes.Count - 1)
                        {
                            @coma
                            ;
                        }
                    }
                </p>
                <div class="row">
                    <div class="col" style="text-align:center">
                        <h4>Distance</h4>
                        <p>@Model.SummaryDistance km.</p>
                    </div>
                    <div class="col" style="text-align:center">
                        <h4>Duration</h4>
                        <p>@Model.SummaryTime</p>
                    </div>
                    <div class="col" style="text-align:center">
                        <h4>Price</h4>
                        <p>@Model.SummaryPrice$</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">
                    Book flight
                </button>
                }
                else
                {
                    <h3 class="text-primary">
                        Route Not Found.
                    </h3>
                }
            </div>*@
        </div>
    </form>
</section>