@model RouteSearchVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="search-section">
    <div class="container">
        <form method="get">
            <div class="row">
                <div class="col">
                    <div class="border p-3 mt-4 row">
                        <div class="mb-3 col-6 text-center">
                            <span asp-validation-for="OutgoingStation" class="text-danger"></span>
                            <label asp-for="OutgoingStationId" class="text-primary">Outgoing Station</label>
                            <select asp-for="OutgoingStationId" asp-items="@Model.StationsList" class="form-select" >
                                <option disabled selected>--Select station--</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6 text-center">
                            <span asp-validation-for="DestinationStation" class="text-danger"></span>
                            <label asp-for="DestinationStationId" class="text-primary">Destination Station</label>
                            <select asp-for="DestinationStationId" asp-items="@Model.StationsList" class="form-select" >
                                <option disabled selected>--Select station--</option>
                            </select>
                        </div>
                        <div class="btn-group mt-3 col-6" role="group" aria-label="Basic radio toggle button group" bis_skin_checked="1">
                            <div class="m-1">
                                <input type="radio" asp-for="Priority" value="@Priorities.DISTANCE" class="btn-check" id="distance-radio" autocomplete="off" checked="" />
                                <label class="btn btn-outline-primary" for="distance-radio">Distance</label>
                            </div>
                            <div class="m-1">
                                <input type="radio" asp-for="Priority" value="@Priorities.TIME" class="btn-check" id="time-radio" autocomplete="off" checked="" />
                                <label class="btn btn-outline-primary" for="time-radio">Time</label>
                            </div>
                            <div class="m-1">
                                <input type="radio" asp-for="Priority" value="@Priorities.PRICE" class="btn-check" id="price-radio" autocomplete="off" checked="" />
                                <label class="btn btn-outline-primary" for="price-radio">Price</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-secondary mt-3" style="width:100px">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="result-section mt-5">
    <div class="container">
        <div class="col">

        </div>
    </div>
</section>
